{% extends '!layout.html' %}

{% block header %}
<header id="BTT" role="banner">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<div class="menu-top-outer clearfix">
		<div class="wrapper clearfix">
			<a href="https://developer.battlerite.com" id="site-logo"></a>
			<a href="https://developer.battlerite.com/users/sign_in"><span id="logSignBtn" class="btn">Login / Signup</span></a>
			<nav id="mainMenu" class="main-menu-con">
				<ul class="main-menu clearfix">
					<li><a class="active" href="http://battlerite-docs.readthedocs.io/en/latest/introduction.html">Documentation</a></li>
					<li><a href="https://developer.battlerite.com/faq">Faq</a></li>
					<li><a href="http://battlerite-docs.readthedocs.io/en/latest/changelog/changelog.html">Changelog</a></li>
					<li><a href="../_static/swagger/index.html">Full API Reference</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
{% endblock %}

{% block footer %}
{% endblock %}
