{% extends '!layout.html' %}

{% block header %}
<header id="BTT" role="banner">
	<div class="menu-top-outer clearfix">
		<div class="wrapper clearfix">
			<a href="/" id="site-logo"></a>
			<span id="logSignBtn" class="btn">Login / Signup</span>
			<nav id="mainMenu" class="main-menu-con">
				<ul class="main-menu clearfix">
					<li><a class="active" href="guides.html">Documentation</a></li>
					<li><a href="faq.html">Faqs</a></li>
					<li><a href="creations.html">Creations</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
{% endblock %}

{% block footer %}
{% endblock %}
