@import url("../better.css");

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

input[type=search] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #afb7b9;
  font-size: 14px;
  position: relative;
  overflow-x: hidden;
  background-color: #10090e;
  background-image: url(../images/battlerite/main-bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
blockquote,
pre,
table {
  margin-top: 0;
  font-weight: 300;
  line-height: 1.4em;
  color: #e3e3e3; }
  .vainglory h1, .vainglory
  h2, .vainglory
  h3, .vainglory
  h4, .vainglory
  h5, .vainglory
  h6, .vainglory
  p, .vainglory
  address, .vainglory
  blockquote, .vainglory
  pre, .vainglory
  table {
    margin-bottom: 1em;
    color: #afb7b9; }

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
  font-weight: 300;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  color: #f79d02;
  letter-spacing: 0.1em; }

h1 {
  margin-top: 1.09em;
  margin-bottom: .55em;
  font-size: 27px;
  color: #f79d02; }
  @media (max-width: 950px) {
    h1 {
      font-size: 24px;} }

h2 {
  margin-bottom: .8em;
  font-size: 18px;
  font-weight: 300;
  color: #bf4d0a;
  letter-spacing: 0.1em; }
  @media (max-width: 950px) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 26.91px;
  margin-bottom: .8em;
  letter-spacing: 0.1em;
  font-size: 24px;
}
  @media (max-width: 950px) {
    h3 {
      font-size: 19px; } }

h4 {
  font-size: 22px;
  letter-spacing: 0.01em; }
  @media (max-width: 950px) {
    h4 {
      font-size: 17px;} }

h5 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0em;
  margin-bottom: 1.2em; }
  @media (max-width: 950px) {
    h5 {
      font-size: 14px;} }

h6 {
  font-size: 14px;
}
@media (max-width: 950px) {
  h6 {
    font-size: 14px;} }

header {
  z-index: 25;
  position: relative;
  width: 100%;
  background-color: #1d191e;
}

#site-logo {
  display: block;
  margin: 0;
  max-width: 100%;
  float: left;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  height: 38px;
  width: 73px;
  background-size: 73px 38px;
  margin-top: 14px;
  margin-bottom: 14px; }
  @media (max-width: 950px) {
    #site-logo {
      margin-top: 13px;
      margin-bottom: 13px; } }
  #site-logo img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 0; }


#mainMenu {
float: left;
margin-left: 28px; }
@media (max-width: 950px) {
  #mainMenu {
    margin-left: 0;
    background-color: #1d191e; } }
@media (max-width: 950px) {
  #mainMenu {
    overflow: hidden;
    max-height: 0;
    margin-left: 0;
    width: 100%;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s; }
    .menu-open #mainMenu {
      max-height: 1000px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; } }

.main-menu {
margin: 0 auto;
padding: 0;
font-size: 0px;
 }
.main-menu li {
  font-size: 14px;
  line-height: 1em;
  list-style-type: none;
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  zoom: 1;
  *display: inline; }
  @media (max-width: 950px) {
    .main-menu li {
      display: block; } }
  .main-menu li:hover > a, .main-menu li:focus > a {
    color: #f79d02;
    text-decoration: none; }
  .main-menu li > a {
    display: block;
    vertical-align: middle;
    padding: 0;
    line-height: 1.2em;
    text-decoration: none;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    padding: 26px 10px;
    font-size: 14.848px;
    font-weight: 400;
    color: white;
    letter-spacing: .03em; }
    @media (max-width: 950px) {
      .main-menu li > a {
        padding: 15px 5px;
        font-size: 14px;
         } }
    .main-menu li > a.active, .main-menu li > a:hover, .main-menu li > a:focus {
      color: #f79d02;
      text-decoration: none; }

main-wrapper:after,
.pakery-grid:after,
.gform_fields:after,
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  height: 1%; }

.main-wrapper,
.pakery-grid,
.gform_fields,
.clearfix {
  display: block; }

  .wrapper {
    margin: 0 auto;
    width: 95.5%;
    padding-bottom: 0;
    max-width: 1190px;
    position: relative;
    clear: both; }
    .wrapper-outer, .wrapper-inner {
      margin: 0 auto;
      width: 95.5%;
      padding-top: 0px;
      padding-bottom: 0px;
      position: relative; }
      @media (max-width: 768px) {
        .wrapper-outer.mob-wide, .wrapper-inner.mob-wide {
          width: 100%; } }
    .wrapper-outer {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
      max-width: 100%; }
    .wrapper-inner {
      max-width: 1108px; }
    @media (max-width: 768px) {
      .wrapper.mob-wide {
        width: 100%; } }

        .menu-top-outer {
          margin: 0;
          position: relative;
          z-index: 1; }
          .menu-top-outer .wrapper {
            padding-top: 0;
            padding-bottom: 0;
            max-width: 95.5%;
            width: 100%;
            max-width: 1190px;
            width: 95.5%; }
          .menu-top-outer .btn, .menu-top-outer *[type="submit"] {
            float: right;
            min-width: 0;
            letter-spacing: 0.065em;
            margin-right: -.7%;
            margin-top: 13px;
            margin-bottom: 13px; }
            @media (max-width: 950px) {
              .menu-top-outer .btn, .menu-top-outer *[type="submit"] {
                font-size: 14px;
                font-size: 1.4rem;
                margin-top: 13px;
                margin-bottom: 13px; } }
          .menu-top-outer .user-drop {
            float: right;
            margin-top: 26px;
            position: relative; }
            @media (max-width: 950px) {
              .menu-top-outer .user-drop {
                margin-top: 24px; } }
            .menu-top-outer .user-drop.open .name {
              background-image: url(../images/battlerite/yellow-arrow-up.svg);
              background-repeat: no-repeat; }
              .lt-ie9 .menu-top-outer .user-drop.open .name {
                background-image: url(../images/battlerite/yellow-arrow-up.png); }
              .no-svg .menu-top-outer .user-drop.open .name {
                background-image: url(../images/battlerite/yellow-arrow-up.png); }
            .menu-top-outer .user-drop.open ul {
              display: block; }
            .menu-top-outer .user-drop .name {
              color: #f79d02;
              padding-right: 18px;
              background-position: 100% 50%;
              letter-spacing: 0.02em;
              font-weight: 400;
              cursor: pointer;
              text-transform: uppercase;
              background-image: url(../images/battlerite/yellow-arrow.svg);
              background-repeat: no-repeat;
              background-size: 9px 7px;
              font-size: 14.848px;
              font-size: 1.4848rem; }
              .lt-ie9 .menu-top-outer .user-drop .name {
                background-image: url(../images/battlerite/yellow-arrow.png); }
              .no-svg .menu-top-outer .user-drop .name {
                background-image: url(../images/battlerite/yellow-arrow.png); }
            .menu-top-outer .user-drop ul {
              display: none;
              position: absolute;
              right: 0;
              top: 100%;
              padding: 0 0 4px !important;
              min-width: 100%;
              background-color: #1d191e; }
              .menu-top-outer .user-drop ul li {
                list-style: none;
                display: block; }
                .menu-top-outer .user-drop ul li > a {
                  display: block;
                  vertical-align: middle;
                  padding: 0;
                  line-height: 1.2em;
                  text-decoration: none;
                  position: relative;
                  text-align: right;
                  text-transform: uppercase;
                  font-family: "Ubuntu", sans-serif;
                  padding: 15px 18px 15px 4px;
                  font-size: 14.848px;
                  font-size: 1.4848rem;
                  font-weight: 400;
                  color: white;
                  letter-spacing: 0.02em; }
                  @media (max-width: 950px) {
                    .menu-top-outer .user-drop ul li > a {
                      padding: 15px 18px 15px 4px;
                      font-size: 14px;
                      font-size: 1.4rem; } }
                  .menu-top-outer .user-drop ul li > a:hover, .menu-top-outer .user-drop ul li > a:focus {
                    color: #f79d02;
                    text-decoration: none; }



    /* stuff like float-left, clear-right, align-center */
    button:focus,
    .btn:focus,
    [type="submit"]:focus {
      outline: none; }

    .btn, *[type="submit"] {
      display: inline-block;
      zoom: 1;
      *display: inline;
      text-decoration: none !important;
      line-height: 1.5em;
      background-color: transparent;
      color: white !important;
      border-radius: 0;
      font-weight: 400;
      position: relative;
      width: auto;
      min-width: 0;
      text-align: center;
      -webkit-transition: .15s;
      -o-transition: .15s;
      transition: .15s;
      cursor: pointer;
      -webkit-box-shadow: none;
              box-shadow: none;
      text-transform: uppercase;
      background-size: 100% 100%;
      min-width: 240px;
      max-width: 100%;
      background-image: url(../images/battlerite/btn-1.png);
      border: none;
      font-family: "Ubuntu", sans-serif;
      font-size: 16px;
      padding: 9px 17px;
      letter-spacing: 0.19em; }
      .btn:hover, [type="submit"]:hover, .btn:focus, [type="submit"]:focus {
        border-color: transparent;
        color: #0c9590 !important;
        outline: none; }
      .btn + .btn, *[type="submit"] + .btn, .btn + *[type="submit"], *[type="submit"] + *[type="submit"] {
        margin-left: 4.9%; }
      @media (max-width: 950px) {
        .btn, *[type="submit"] {
          font-size: 14px !important;
          }
        }
      @media (max-width: 950px) {
        .btn, *[type="submit"] {
          padding: 7px 7px;
          font-size: 14px;
          font-size: 1.4rem;
          min-width: 136px; } }
      .btn.alt, .alt[type="submit"] {
        background-image: url(../images/battlerite/btn-2.png); }
        .btn.alt:hover, .alt[type="submit"]:hover, .btn.alt:focus, .alt[type="submit"]:focus {
          color: #7e1a01 !important; }

    /*::-webkit-input-placeholder {
      font-size: 11px;
      font-size: 1.4rem;
      color: #191a1b;
      font-family: "PT Serif", serif;
      font-weight: 400; }
      @media (max-width: 950px) {
        ::-webkit-input-placeholder {
          font-size: 11px;
          font-size: 1.4rem; } }

    :-moz-placeholder {
      /* Firefox 18- */
      /*font-size: 11px;
      font-size: 1.4rem;
      color: #191a1b;
      font-family: "PT Serif", serif;
      font-weight: 400; }
      @media (max-width: 950px) {
        :-moz-placeholder {
          font-size: 11px;
          font-size: 1.4rem; } }

    ::-moz-placeholder {
      /* Firefox 19+ */
      /*font-size: 11px;
      font-size: 1.4rem;
      color: #191a1b;
      font-family: "PT Serif", serif;
      font-weight: 400; }
      @media (max-width: 950px) {
        ::-moz-placeholder {
          font-size: 11px;
          font-size: 1.4rem; } }

    :-ms-input-placeholder {
      font-size: 11px;
      font-size: 1.4rem;
      color: #191a1b;
      font-family: "PT Serif", serif;
      font-weight: 400; }
      @media (max-width: 950px) {
        :-ms-input-placeholder {
          font-size: 11px;
          font-size: 1.4rem; } }*/





header#pageheader, footer#pagefooter, .related, .document {
  width: 100%;
  max-width: 1190px;
  margin: auto;
}

p {
  font-size: 14px;
  /*margin-bottom: 1.95em;*/
  font-weight: 500;
}

.bodywrapper {
    margin: 0 0 0 22rem;
}

.sphinxsidebar {
    width: 20rem;
}

div.sphinxsidebarwrapper {
    padding: 2rem 1rem 0 0;
}

.sphinxsidebarwrapper ul {
  padding: 2rem 1rem 0 0;
}

.sphinxsidebarwrapper h3 {
  display: none;
}

.sphinxsidebarwrapper ul li {
  list-style: none;
  margin-bottom: -2px;
  padding: 0;
  border: 1.5px solid #1f1e20;
}

.sphinxsidebarwrapper ul li.current > a {
  color: #eaa900;
  border-left: 2px solid #eaa900;
}

.sphinxsidebarwrapper ul li.current {
  padding: 0px 0 0px;
  margin-bottom: 0;
  background-color: #1f1e20;
}

.sphinxsidebarwrapper ul li ul {
  margin-bottom: 0;
  padding-top: 4px;
  padding-bottom: 25px;
}

.sphinxsidebarwrapper ul li ul li {
  border: none;
  padding: 5.5px 0 5.5px;
}

.sphinxsidebarwrapper ul li ul li a {
  text-transform: none;
  padding: 0px 5px 0 29px;
  font-size: 12px;
}

.sphinxsidebarwrapper ul li a {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  color: white;
  letter-spacing: .07em;
  padding: 9px 10px 8px 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

.sphinxsidebarwrapper ul li a:hover, ul.aside-menu li a:focus {
  text-decoration: none;
  color: #eaa900;
}

.breadcrumbs {
  border:none;
}

a {
  color: #eaa900;
}

a:visited {
  color: #eaa900;
}


.highlight pre{
  background-color: #1e1e1e;
}

.highlight .go {
  color: white;
}

.pre {
  background-color: #3f3f3f;
}

table {
  margin-bottom: 20px;
}

table.docutils th {
  padding:10px;
  border:1px solid #afb7b9;
}

thead {
  background-color: #1d191e;
}

table.docutils td {
  padding:10px;
  border:1px solid #afb7b9;
}

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  padding: 37px 77px 10px;
  top: 0;
  left: 0;
  z-index: 999999;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s; }

.modal .inner {
  width: 95%;
  max-height: 95vh;
  max-width: 857px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 0 2000px rgba(53, 55, 57, 0.9);
  box-shadow: 0 0 0 2000px rgba(53, 55, 57, 0.9);
  border: 2px solid #b0b0b0;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #191a1b; }

.modal .inner {
  padding: 41px 72px 10px;
  border-color: #f79d02; }

@media (max-width: 950px) {
  .modal .inner {
    padding: 41px 15px 10px; } }
.modal#inviteFriend .inner {
  overflow: hidden;
  max-width: 511px;
  padding: 28px 37px 10px; }

@media (max-width: 950px) {
  .modal#inviteFriend .inner {
    padding: 28px 5px 10px; } }
.modal#inviteFriend h2 {
  margin-bottom: 1.3em; }

.modal.open {
  opacity: 1;
  visibility: visible; }

.modal .close {
  position: absolute;
  top: 12px;
  right: -48px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  border-radius: 62px;
  border: 2px solid #f79d02;
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
  z-index: 1; }

@media (max-width: 950px) {
  .modal .close {
    top: -48px;
    right: 7px; } }
.modal .close:hover {
  border: 1px solid #afb7b9; }

.modal .close:hover:before, .modal .close:hover:after {
  background-color: #afb7b9; }

.modal .close:before {
  content: '';
  height: 1px;
  width: 15px;
  background-color: #f79d02;
  visibility: visible;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  -ms-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s; }

.modal .close:after {
  content: '';
  height: 1px;
  width: 15px;
  background-color: #f79d02;
  visibility: visible;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  -ms-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s; }

.tab-container.tab-container {
  position: relative; }

@media (max-width: 950px) {
  .tab-container.tab-container {
    padding-bottom: 0; } }
.tab-container.tab-container .tabs {
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
  display: block;
  width: 100%;
  text-align: left;
  background-color: #191a1b;
  text-align: center;
  position: relative; }

.tab-container.tab-container .tabs:before, .tab-container.tab-container .tabs:after {
  display: none; }

.tab-container.tab-container .tabs li {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Ubuntu", sans-serif;
  border: none;
  border-bottom: 4px solid #191a1b;
  padding: 11px 7px 4px;
  margin: 0 30px;
  list-style: none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  text-transform: uppercase; }

.tab-container.tab-container .tabs li:hover, .tab-container.tab-container .tabs li.active {
  border-bottom: 4px solid #f79d02; }

@media (max-width: 950px) {
  .tab-container.tab-container .tabs li {
    font-size: 12px;
    padding: 6px 30px; } }
.tab-container.tab-container .tabs li.active, .tab-container.tab-container .tabs li:hover, .tab-container.tab-container .tabs li:focus {
  cursor: pointer;
  color: #f79d02;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out; }

.tab-container.tab-container .tabs li.active {
  cursor: default; }

.tab-container.tab-container .tabs li:after {
  display: none; }

.tab-container.tab-container .wrapper-outer {
  background-color: #ebebeb;
  padding: 0; }

.tab-container.tab-container h3.tab-accordion-heading {
  display: none;
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 22px 52px 22px 18px;
  font-weight: 600;
  line-height: 1.2em;
  color: #777777;
  margin-bottom: 0;
  border-bottom: 1px solid #56b2da;
  background-image: image-url("images/arrow-down-acc.svg");
  background-repeat: no-repeat;
  background-position: 97% 27px;
  background-position: right 17px top 27px; }

@media (max-width: 768px) {
  .tab-container.tab-container h3.tab-accordion-heading {
    display: block; } }
.lt-ie9 .tab-container.tab-container h3.tab-accordion-heading {
  background-image: image-url("images/arrow-down-acc.png"); }

.no-svg .tab-container.tab-container h3.tab-accordion-heading {
  background-image: image-url("images/arrow-down-acc.png"); }

.tab-container.tab-container h3.tab-accordion-heading:hover, .tab-container.tab-container h3.tab-accordion-heading.active {
  color: #56b2da; }

.tab-container.tab-container h3.tab-accordion-heading:hover {
  background-image: image-url("images/arrow-down-acc-blue.svg");
  background-repeat: no-repeat; }

.lt-ie9 .tab-container.tab-container h3.tab-accordion-heading:hover {
  background-image: image-url("images/arrow-down-acc-blue.png"); }

.no-svg .tab-container.tab-container h3.tab-accordion-heading:hover {
  background-image: image-url("images/arrow-down-acc-blue.png"); }

.tab-container.tab-container h3.tab-accordion-heading.active {
  background-image: image-url("images/arrow-up-acc.svg");
  background-repeat: no-repeat; }

.lt-ie9 .tab-container.tab-container h3.tab-accordion-heading.active {
  background-image: image-url("images/arrow-up-acc.png"); }

.no-svg .tab-container.tab-container h3.tab-accordion-heading.active {
  background-image: image-url("images/arrow-up-acc.png"); }

.tab-container.tab-container h3.tab-accordion-heading.active + .tab-content {
  display: block !important; }

.tab-container.tab-container .tab-content-con {
  float: right;
  width: 47.4%;
  padding-right: 50px; }

@media (max-width: 950px) {
  .tab-container.tab-container .tab-content-con {
    float: none;
    width: 100%;
    padding-right: 25px;
    padding-left: 25px; } }
.tab-container.tab-container .tab-content {
  max-height: 0;
  overflow: hidden;
  border: none; }

@media (max-width: 768px) {
  .tab-container.tab-container .tab-content {
    float: none; } }
.tab-container.tab-container .tab-content.active {
  max-height: 99999px;
  border: none; }

.tab-container.tab-container .tab-content .inner {
  padding: 25px 42px 12px 37px;
  padding: 54px 14px 12px; }

.tab-container.tab-container .tab-content .inner h3 {
  font-family: "Ubuntu", sans-serif;
  color: #f79d02;
  font-weight: 600;
  letter-spacing: .07em;
  margin-bottom: .7em;
  clear: both; }

.tab-container.tab-container .tab-content .inner p {
  margin-bottom: 1.4em; }

.tab-container.tab-container .tab-content .inner p + h3 {
  margin-top: 1.5em; }

.tab-container.tab-container .tab-content .inner ul {
  padding-top: 3px;
  margin-bottom: 41px; }

.tab-container.tab-container .tab-content .inner ul + h3 {
  margin-top: 1.5em; }

.tab-container.tab-container .tab-content .inner li {
  line-height: 1.9em; }

.tab-container.tab-container .tab-content .inner li a {
  text-decoration: underline; }

.tab-container.tab-container .tab-content .inner li a:hover, .tab-container.tab-container .tab-content .inner li a:focus {
  color: #bf4d0a; }

.tab-container.tab-container .tab-content .inner ol {
  margin-bottom: 37px; }

.tab-container.tab-container .tab-content .inner ol + h3 {
  margin-top: 1.5em;
  margin-bottom: 1.4em; }

.tab-container.tab-container .tab-content .inner ol li {
  margin-bottom: .73em; }

.tab-container.tab-container .tab-content .inner .btn-con {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 55px; }

.tab-container.tab-container .tab-content .inner .btn-con p {
  text-align: left;
  margin-bottom: 4.2em; }

.tab-container.tab-container .tab-content .inner .btn-con .btn, .tab-container.tab-container .tab-content .inner .btn-con *[type="submit"] {
  padding: 16px 17px;
  letter-spacing: .11em;
  max-width: 335px;
  width: 90%; }

.tab-container.tab-container .tab-content .inner p {
  font-size: 14px;
  font-size: 1.4rem;
  margin-bottom: 1.5em; }

.tab-container.tab-container .tab-content img {
  float: left;
  max-width: 191px;
  margin: 0 1em 1em 0; }

@media (max-width: 450px) {
  .tab-container.tab-container .tab-content img {
    float: none;
    margin: 0 auto 1em; } }

.modal#logSign {
  box-sizing: border-box;
}

.modal#createAcc .inner,
.modal#logSign .inner,
.simple-layout .new_session .inner {
  overflow: visible;
  padding: 0;
  max-width: 516px;
  min-height: 600px; }
  @media (max-width: 950px) {
    .modal#createAcc .inner,
    .modal#logSign .inner,
    .simple-layout .new_session .inner {
      min-height: 555px; } }
  .modal#createAcc .inner .tab-content-container,
  .modal#logSign .inner .tab-content-container,
  .simple-layout .new_session .inner .tab-content-container {
    padding: 0 40px 15px; }
.modal#createAcc h2,
.modal#logSign h2,
.simple-layout .new_session h2 {
  margin-bottom: .35em; }
.modal#createAcc p,
.modal#logSign p,
.simple-layout .new_session p {
  line-height: 1.3em;
  margin-bottom: 1em; }
.modal#createAcc label,
.modal#logSign label,
.simple-layout .new_session label {
  color: white;
  font-weight: 300; }
.modal#createAcc .btn,
.modal#createAcc *[type="submit"],
.modal#logSign .btn,
.modal#logSign *[type="submit"],
.simple-layout .new_session .btn,
.simple-layout .new_session *[type="submit"] {
  margin-top: 8px;
  min-width: 260px;
  font-size: 18px !important;
  font-size: 1.8rem !important; }
.modal#createAcc .bottom-links,
.modal#logSign .bottom-links,
.simple-layout .new_session .bottom-links {
  padding-top: 10px;
  font-size: 12px;
  text-align: center; }
  .modal#createAcc .bottom-links .fake,
  .modal#createAcc .bottom-links a,
  .modal#logSign .bottom-links .fake,
  .modal#logSign .bottom-links a,
  .simple-layout .new_session .bottom-links .fake,
  .simple-layout .new_session .bottom-links a {
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    *display: inline;
    font-weight: 600;
    letter-spacing: 0.08em;
    cursor: pointer;
    color: #f79d02;
    -webkit-transition: .15s;
    -o-transition: .15s;
    transition: .15s;
    font-size: 12px; }
    .modal#createAcc .bottom-links .fake:hover, .modal#createAcc .bottom-links .fake:focus,
    .modal#createAcc .bottom-links a:hover,
    .modal#createAcc .bottom-links a:focus,
    .modal#logSign .bottom-links .fake:hover,
    .modal#logSign .bottom-links .fake:focus,
    .modal#logSign .bottom-links a:hover,
    .modal#logSign .bottom-links a:focus,
    .simple-layout .new_session .bottom-links .fake:hover,
    .simple-layout .new_session .bottom-links .fake:focus,
    .simple-layout .new_session .bottom-links a:hover,
    .simple-layout .new_session .bottom-links a:focus {
      color: #bf4d0a; }

#logSign .b-item {
  padding-top: 0; }
#logSign .form-list {
  margin-bottom: 5px; }
